{% extends 'Laba2/base.html' %}
{% load bootstrap3 %}

{% block title %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html"> <h2 style="text-align:center;"> Apps Table </h2> </div>
{% endblock %}

{% block content %}

<div class="form-group col-sm-offset-1" style="width:1050px;">
    <form class="navbar-form navbar-default navbar-left" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <label class="radio-inline">
        <input type="radio" name="optradio" value="name" >By name</label>
    </form>

    <form class="navbar-form navbar-left" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="prices" placeholder="Empty">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <label class="checkbox-inline">
        <input  type="checkbox" name="small" value="small">0.00</label>
        <label class="checkbox-inline">
        <input type="checkbox" name="middle" value="middle">1.25</label>
        <label class="checkbox-inline">
        <input type="checkbox" name="high" value="high" >1.99</label>
    </form>

    {% if apps %}
    <table class="table table-bordered">
      <thead>
        <tr class="active">
            <th>App ID</th>
            <th>Dev ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Memory</th>
        </tr>
      </thead>
      <tbody>
        {% for foo in apps %}
            <tr class="clickable-row" data-href = "{% url 'edit_apps' foo.app_id %}">
                <td> {{ foo.app_id }} </td>
                <td> {{ foo.dev_id }} </td>
                <td> {{ foo.name }} </td>
                <td> {{ foo.price }} </td>
                <td> {{ foo.memory }} </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
        <div class="form-group col-sm-offset-1" style="width:350px;">
            <h1> No match for search</h1>
        </div>
    {% endif %}

    <a type="button" class="btn btn-primary" name="add_button" href="{% url 'app_new' %}">Add</a>
    <script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
    jQuery(document).ready(function($) {
        $(".checkbox-inline").click(function () {
            var set_0 = '0.00';
            var set_1_25 = '1.25';
            var set_1_99 = '1.99';
            var result_small = $("input[name='small']").is(":checked");
            var result_middle = $("input[name='middle']").is(":checked");
            var result_high = $("input[name='high']").is(":checked");
            var delimiter = ', '

            if (result_small && result_middle && result_high) {
                var result = set_0 + delimiter + set_1_25 + delimiter + set_1_99;
                $('input[name="prices"]').val(result);
            } else if (result_small && result_middle) {
                var result = set_0 + delimiter + set_1_25;
                $('input[name="prices"]').val(result);
            } else if (result_small && !result_middle && !result_high) {
                var result = set_0;
                $('input[name="prices"]').val(result);
            } else if (result_small && result_high && !result_middle) {
                var result = set_0 + delimiter + set_1_99;
                $('input[name="prices"]').val(result);
            } else if (result_middle && result_high && !result_small) {
                var result = set_1_25 + delimiter + set_1_99;
                $('input[name="prices"]').val(result);
            } else if (result_small && result_high && !result_middle) {
                var result = set_0 + delimiter + set_1_99;
                $('input[name="prices"]').val(result);
            } else if (result_high && !result_small && !result_middle) {
                var result = set_1_99;
                $('input[name="prices"]').val(result);
            } else if (result_middle && !result_high && !result_small) {
                var result = set_1_25;
                $('input[name="prices"]').val(result);
            } else if (result_small && result_high && !result_high) {
                var result = set_0 + delimiter + set_1_25;
                $('input[name="prices"]').val(result);
            } else {
                $('input[name="prices"]').val('');
            }
        });
    });
    </script>
</div>

{% endblock %}